body {
    font-family: 'Georgia' serif;
    line-height: 1.5;
    background-color: #ffffff;
    color: #000000;
}

h1 {
    color: rgb(108, 48, 4) 
}

h2 {
    color: rgb(106, 90, 205)
}

header {
    background-color: rgb(255, 255, 255)
}

footer {
    background-color: rgb(255, 255, 255)
}

.Ingredients, .Steps {
    border: 1px solid #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

body ul{
    border: 1px solid #000000;
}

.Link:hover {
    text-decoration: none;
}